

<body>

<%= image_tag("dalmatians.jpg", class: "img-responsive",:style=>"width: 100%; top: 0px;", :alt => "dalmatians") %>

<div class="container-fluid">

	<!--Video-->

	<div class="col-md-6 video" data-example-id="responsive-embed-16by9-iframe-youtube">

		<h1 style="margin-bottom:30px">6-weeks-old Sibling Kittens Seeking Forever Home</h1>
		<p> Camera Shy! So here's a video of a pair of sibling kittens that i'm currently fostering. I first crossed paths with these little ones by chance, at 10 days of age at a rescuer's home. She was housing 24 cats herself in a 3 room flat and feeding close to 60 community cats and was overwhelmed and at a lost as to what to do with these kittens. Having experience, I agreed to foster them while looking for potential adopters in the meantime. So here's a shout out to any potential adopters out there! (or if you know of anyone on the lookout for kittens).</p> <br><p> I am also interested and toying with the idea of creating a site for the cat feeder/ rescuer community to get more help. Currently, the situation is such that pleas for fosterers or donations are made on the different group channels in facebook resulting in many duplicate posts. Often time posts are still shared even though fosterers/ help had been found. It should be helpful to have one medium/ point of contact for these volunteers so that they may focus time and efforts on rescue efforts instead spending extra resources managing these duplicates.</p>

		<div id="contact-bottom"></div>

		<div class="embed-responsive embed-responsive-16by9">

		<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/SHJjoQF3qtI" allowfullscreen=""></iframe>
	</div></div>
	<!--end-->

	<!--Twitter Widget-->
	<div class="col-md-6 twitter">
		<div id="contact-bottom"></div>
				<a class="twitter-timeline" href="https://twitter.com/houndsmitten">Tweets by Houndsmitten</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
	</div>
	<!--end-->


</div>
</body>
