

<body>
	
<%= image_tag("dalmatians.jpg", class: "img-responsive",:style=>"width :100%, top : 0px;", :alt => "rss feed") %>

<div class="container-fluid">
	<div class="col-md-6 video" data-example-id="responsive-embed-16by9-iframe-youtube"> 

		<h1>6-weeks-old Kittens for adoption</h1>
		<p> Because i belong to one of those camera shy categories, here is an uploaded video of a pair of sibling kittens that i am fostering. I first got them at 10 days of age at a rescuer's home by chance, she was housing 24 cats herself and feeding close to 60 community cats and was at a lost as to what to do with them. I agreed to foster them. I am also toying with the idea of creating a community website to help these feeders/ rescuers get help. Currently the situation is such that posts for help are made on various channels in fb resulting in many duplicate posts. It will be helpful to have one medium/ point of contact for these volunteers so that they may focus efforts on gathering resources instead of extra time spent on duplicated efforts</p>
		<div id="contact-bottom"></div>

		<div class="embed-responsive embed-responsive-16by9"> 

		<iframe class="embed-responsive-item" src="//www.youtube.com/embed/Dv4Yir17ooA" allowfullscreen=""></iframe> 
	</div></div>

	<div class="col-md-6 twitter">
		<div id="contact-bottom"></div>
				<a class="twitter-timeline" href="https://twitter.com/houndsmitten">Tweets by Houndsmitten</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
	</div>


</div>
</body>
