


<%= image_tag("sleepy.jpg",class: "img-responsive",:style=>"width :100%, margin-top : -100px;", :alt => "sleepy") %>


<br>
<br>
<div class="container-fluid">

<div class="col-md-2"></div>
<div class="col-md-8">
<h2>Thank you, your form has been submitted.</h2>
<p>Sit back and relax while we get back to you, meanwhile, here's a little chicken dance</p>
</div>

<div class="col-md-2"></div>
</div>

