

<head>
<%= image_tag("sleepy.jpg",:style=>"width :100%, margin-top : -100px;", :alt => "rss feed") %>

</head>
<br>
<br>
<h2>Thank you, your form has been submitted.</h2>
<p>Sit back and relax while we get back to you, meanwhile, here's a little chicken dance</p>

