


<%= image_tag("sleepy.jpg",class: "img-responsive",:style=>"width: 100%; margin-top: -100px;", :alt => "sleepy") %>


<div class="new-form"></div>

<div class="container-fluid">

	<div class="col-md-2"></div>
	<div class="col-md-8">
		<h2>Thank you, your form has been submitted.</h2>
		<p>Sit back and relax while we get back to you, meanwhile, keep rolling rolling rolling </p>

		<%= image_tag("frenchie.gif", class: "img-responsive gif",:style=>"width: 70%, margin-top: 50px;", :alt => "frenchie") %>
	</div>


	<div class="col-md-2"></div>



</div>

<div id="contact-bottom"></div>

