@import "bootstrap-sprockets";
@import "bootstrap";

html, body{
	height: 100%;

margin-top: 25px;
}

navbar navbar-default navbar-fixed-top {
    
    background-color: white;
   background: white;
   border-color: white;
}

#about{
    margin-top: -50px;
}

.container{
    width: 70%;
    margin-top: 30px;
}

.container-fluid{
    padding : 0px;
}

.post-wrapper{
    margin-left: 100px;
}

.button-new{
    float: left;
    margin-right: 5px;
}


.carousell 
.item
.active
{
	height:auto;
}

.carousel-inner{
	height: auto;
	margin-top: -50px;

}

hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    
}

.social {
    width: 200px;
    margin-left: 55px;
    margin-top: 60px;


}

.social2{
    width: 200px;
    margin-left: 55px;
    margin-top: 25px;
}

.social-border{
    border-style: dashed;
    margin-top: 20px;
    width: 60%;
    margin-left: 70px;
    margin-top: 40px;
    padding-bottom: 50px;
    
}


.button{
   margin-left: 20px;

}
.contact{
    margin-left: 90px;
}

.video{
    margin-top: 100px;
    margin-left: 50px;

}

.post {
    margin-top: 0px;
    padding-bottom: 100px;
    
}

#contact-bottom{
    padding: 50px;
}

.post-body{
    margin-top: 50px;
}

.new-post{
    padding-bottom: 100px;
}

.new-form{
    padding: 20px;
}

.button-index { 
    float: left;
    margin-top: -40px;
}

.button-new{
    float: left;
    margin-top: -40px;
}

.gif {
    width: 50%;
    margin-top: 40px;
}

.twitter{
    width: 30%;
    height: 30%;
    margin-top: 20px;
    margin-left: 120px;
}

.index{
    text-align: center;

}

.textbox{
    width: 600px;
    height: 50px;
    padding: 50px;
}

.text-label{
    font-size: 20px;
}

.fill {
    width: 100%;
    height: auto;
    background-position: center;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.blog-title{
    text-align: center;
    margin: 40px;
    font-size: 45px;
}

.img-circle{
    height:100%;
    width:100%;
    border-radius: 50%;
}


