@import "bootstrap-sprockets";
@import "bootstrap";

html, body{
	height: 100%;

margin-top: 25px;
}

navbar navbar-default navbar-fixed-top {
    
    background-color: white;
   background: white;
   border-color: white;
}

.container{
    width: 70%;
    margin-top: 30px;
}

.post-wrapper{
    margin-left: 100px;
}

.post-links{
    
}

.carousell 
.item
.active
{
	height:auto;
}

.carousel-inner{
	height: auto;
	margin-top: -50px;

}


.twitter{
    width: 50%;
    height: 50%;
}


.fill {
    width: 100%;
    height: auto;
    background-position: center;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.blog-title{
    text-align: center;
    margin: 20px;
}



